In [ ]:
data = {'id':[1,2,3,4,5,6,7],
        'cestas':[
            ['leche','carne','frutas'], ['leche', 'tech'],
            ['frutas', 'ropa', 'arroz'] , ['leche', 'frutas'],
            ['leche', 'carne', 'pan'] , ['pan', 'tech'], ['leche']]
           }

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

   id                  cestas
0   1  [leche, carne, frutas]
1   2           [leche, tech]
2   3   [frutas, ropa, arroz]
3   4         [leche, frutas]
4   5     [leche, carne, pan]
5   6             [pan, tech]
6   7                 [leche]

In [ ]:
# sacar los únicos pósibles items...
def cats_binary(var,df):
  aux = []
  for cesta in df[var]:
    for product in cesta:
      if product not in aux:
        aux.append(product)
  for product in aux:
    df[product]= 0   # init all data in zero..
    for index in df.index:
      if product in df.loc[index,var]: # si encuentra ese producto en la cesta
        df.loc[index,product] = 1  # pongale 1 a esa columna en la transacción correspondiente.
  return df

In [ ]:
cats_binary('cestas',df)

   id                  cestas  leche  carne  frutas  tech  ropa  arroz  pan
0   1  [leche, carne, frutas]      1      1       1     0     0      0    0
1   2           [leche, tech]      1      0       0     1     0      0    0
2   3   [frutas, ropa, arroz]      0      0       1     0     1      1    0
3   4         [leche, frutas]      1      0       1     0     0      0    0
4   5     [leche, carne, pan]      1      1       0     0     0      0    1
5   6             [pan, tech]      0      0       0     1     0      0    1
6   7                 [leche]      1      0       0     0     0      0    0