In [ ]:
url = "https://raw.githubusercontent.com/it-ces/Datasets/main/MarketPower.csv"

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(url)

In [ ]:
df.head()

   Unnamed: 0       theta  beta         cm    sector
0           0  125.121419  31.5   9.799712  Software
1           1  125.645324  30.5  10.616998  Software
2           2  126.766324  17.5   9.426922  Software
3           3  127.141536  22.5   9.698818  Software
4           4  127.472341  28.5   9.042124  Software

In [ ]:
#?

In [ ]:
df['sector'].value_counts()

Agriculture    100
Software        20
Financial        5
Diapers          2
Name: sector, dtype: int64

In [ ]:
df['sector'].value_counts(normalize=True)

Agriculture    0.787402
Software       0.157480
Financial      0.039370
Diapers        0.015748
Name: sector, dtype: float64

In [ ]:
df['cm'].mean() # Coeficiente de variación??

6.9511329568324065

In [ ]:
df['cm'].std()

1.847448239596689

In [ ]:
cv = df['cm'].std()/df['cm'].mean()

In [ ]:
cv
# cual si supera el 30? heterogeneos...

0.2657765649239662

In [ ]:
cv_theta = df['theta'].std()/df['theta'].mean()

In [ ]:
cv_theta

1.2707893615293302

In [ ]:
df[df["sector"]=='Software']

    Unnamed: 0       theta  beta         cm    sector
0            0  125.121419  31.5   9.799712  Software
1            1  125.645324  30.5  10.616998  Software
2            2  126.766324  17.5   9.426922  Software
3            3  127.141536  22.5   9.698818  Software
4            4  127.472341  28.5   9.042124  Software
5            5  124.371544  11.5  11.007231  Software
6            6  125.974576  26.5   9.157378  Software
7            7  124.099272   3.5   9.616374  Software
8            8  124.563668   6.5  10.520812  Software
9            9  124.790870   3.5   8.217651  Software
10          10  124.550695  13.5  11.524064  Software
11          11  125.811243  24.5   8.553535  Software
12          12  127.385524   8.5   8.336039  Software
13          13  127.017750   2.5  11.482045  Software
14          14  126.536719  20.5  11.986355  Software
15          15  126.363042  27.5  10.906843  Software
16          16  124.345453  25.5   9.300229  Software
17          17  125.344074  28.5  10.950832  Software
18          18  126.083198  12.5  11.637646  Software
19          19  127.708055  26.5   8.819338  Software

In [ ]:
df

     Unnamed: 0        theta  beta         cm     sector
0             0   125.121419  31.5   9.799712   Software
1             1   125.645324  30.5  10.616998   Software
2             2   126.766324  17.5   9.426922   Software
3             3   127.141536  22.5   9.698818   Software
4             4   127.472341  28.5   9.042124   Software
..          ...          ...   ...        ...        ...
122           0  1237.516764  24.4   4.306088  Financial
123           1  1236.938396  11.4   5.101223  Financial
124           2  1235.802773  12.4   4.073056  Financial
125           3  1237.271186  23.4   3.709515  Financial
126           4  1238.975302  30.4   6.014435  Financial

[127 rows x 5 columns]

In [ ]:
test = {'sector':['A','B','A', 'C'],
        'costos':[100,200,250, 300]}

In [ ]:
test = pd.DataFrame(test)

In [ ]:
test

  sector  costos
0      A     100
1      B     200
2      A     250
3      C     300

In [ ]:
test['sector']=='A' # filter by A

0     True
1    False
2     True
3    False
Name: sector, dtype: bool

In [ ]:
test[test['sector']=='A']

  sector  costos
0      A     100
2      A     250

In [ ]:
otra = {'sector':['software', 'agricola','software', 'diapers', 'diapers'],
        'n_workers':[10,22,5,140, 200]}

In [ ]:
otra

{'sector': ['software', 'agricola', 'software', 'diapers', 'diapers'],
 'n_workers': [10, 22, 5, 140, 200]}

In [ ]:
base = pd.DataFrame(otra) # pasarlo a dataframe

In [ ]:
base

     sector  n_workers
0  software         10
1  agricola         22
2  software          5
3   diapers        140
4   diapers        200

In [ ]:
base["sector"]=='diapers' # vector de booleanos

0    False
1    False
2    False
3     True
4     True
Name: sector, dtype: bool

In [ ]:
base[base["sector"]=='diapers']

    sector  n_workers
3  diapers        140
4  diapers        200

In [ ]:
carros  = {'model':[1994, 1980, 1999, 2006, 2008],
           'precios': [10,11, 22, 50, 67],
           'color':['rojo', 'negro', 'verde', 'amarillo', 'rojo']}

In [ ]:
carros = pd.DataFrame(carros)

In [ ]:
carros

   model  precios     color
0   1994       10      rojo
1   1980       11     negro
2   1999       22     verde
3   2006       50  amarillo
4   2008       67      rojo

In [ ]:
carros[carros['color']=='rojo']

   model  precios color
0   1994       10  rojo
4   2008       67  rojo

In [ ]:
carros[carros['model']<2000]

   model  precios  color
0   1994       10   rojo
1   1980       11  negro
2   1999       22  verde

In [ ]:
# carros rojos con un modelo inferior al 2000

In [ ]:
carros

   model  precios     color
0   1994       10      rojo
1   1980       11     negro
2   1999       22     verde
3   2006       50  amarillo
4   2008       67      rojo

In [ ]:
carros[(carros['color']=='rojo')  & (carros['model']<2000)]

   model  precios color
0   1994       10  rojo

In [ ]:
# precios mayor a 20 y modelo inferior a 2000