In [ ]:
# own functions
def z_score(var,df):
  return (df[var] - df[var].mean()) / df[var].std()

def is_binary(var, df):
  ideal = [0,1]  # not binary.......
  flag = True
  for num in df[var].unique():
    if num not in ideal:
      flag = False
  return flag

import pandas as pd
import numpy as np
url = "https://raw.githubusercontent.com/it-ces/labHealth/master/database.csv"

df = pd.read_csv(url)   # read_excel()
casa = [np.random.choice([0,1]) for _  in range(df.shape[0])]
childrens  = [np.random.choice([0,1,3,7,10,4]) for _  in range(df.shape[0])]
df['home'] = casa
df['childrens'] = childrens

In [ ]:
# Estandarizar Z Media 0 y su sd 1.......

In [ ]:
# El siguiente consistirá en aplicar la estadarización a las variables correspondientes..
# Que requiero???
# requiero --> aplicar la función z_score a las variables que debemos...
# le puedzo aplicar a una variable object?

In [ ]:
for column in df.columns:
  if (df[column].dtypes.name == 'float64' or df[column].dtypes.name=='int64') and is_binary(column,df)==False:
    df[column+'_z'] = (z_score(column, df)) #helpp!!!!!!!!!
    print(column)

Unnamed: 0
var3
var4
childrens

In [ ]:
df

,Unnamed: 0,var1,var2,var3,var4,home,childrens,Unnamed: 0_z,var3_z,var4_z,childrens_z
0,0,no disease,Female,1.355427,58,0,7,-1.706220,0.465377,1.488183,0.777666
1,1,disease,male,0.805698,40,1,0,-1.671751,-0.194967,-0.370755,-1.253551
2,2,no disease,Female,0.029375,49,1,1,-1.637282,-1.127500,0.558714,-0.963377
3,3,disease,male,0.681085,45,1,10,-1.602813,-0.344654,0.145617,1.648187
4,4,no disease,male,1.909778,25,1,1,-1.568344,1.131275,-1.919870,-0.963377
...,...,...,...,...,...,...,...,...,...,...,...
95,95,disease,male,1.350235,52,1,1,1.568344,0.459140,0.868537,-0.963377
96,96,disease,Female,0.074994,50,0,4,1.602813,-1.072703,0.661988,-0.092856
97,97,no disease,Female,0.935725,56,0,3,1.637282,-0.038776,1.281634,-0.383029
98,98,no disease,male,0.225422,26,0,0,1.671751,-0.892006,-1.816595,-1.253551
99,99,disease,Female,0.583728,43,0,3,1.706220,-0.461601,-0.060932,-0.383029

# Como eliminamos esa variable Unamed: 0
# No me aplique la transformación si la var solo toma valores 1 y 0

In [ ]:
# drop...#

df.drop(# of row to drop)
df.drop(#columns=[name of columns])

SyntaxError: ignored

In [ ]:
df_2 =df.iloc[:,1:]

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace=True)  # siempre que utilicen una
                                              # función y esté el inplace usenlo

In [ ]:
# saber cuales son los únicos posibles valores que tenía una variable....

In [ ]:
lista = [3,4,5,6,7,1,2,35,3,2,1]

In [ ]:
df

,Unnamed: 0,var1,var2,var3,var4,home,childrens,Unnamed: 0_z,var3_z,var4_z,home_z,childrens_z
0,0,no disease,Female,1.355427,58,0,3,-1.706220,0.465377,1.488183,-1.1,-0.260747
1,1,disease,male,0.805698,40,1,0,-1.671751,-0.194967,-0.370755,0.9,-1.191984
2,2,no disease,Female,0.029375,49,1,0,-1.637282,-1.127500,0.558714,0.9,-1.191984
3,3,disease,male,0.681085,45,0,3,-1.602813,-0.344654,0.145617,-1.1,-0.260747
4,4,no disease,male,1.909778,25,1,0,-1.568344,1.131275,-1.919870,0.9,-1.191984
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,disease,male,1.350235,52,1,10,1.568344,0.459140,0.868537,0.9,1.912142
96,96,disease,Female,0.074994,50,1,7,1.602813,-1.072703,0.661988,0.9,0.980904
97,97,no disease,Female,0.935725,56,0,3,1.637282,-0.038776,1.281634,-1.1,-0.260747
98,98,no disease,male,0.225422,26,0,4,1.671751,-0.892006,-1.816595,-1.1,0.049666
99,99,disease,Female,0.583728,43,1,3,1.706220,-0.461601,-0.060932,0.9,-0.260747

In [ ]:
is_binary('home',df)

True

In [ ]:
dfb

,Unnamed: 0,var1,var2,var3,var4,home,childrens,Unnamed: 0_z,var3_z,var4_z,childrens_z
0,0,no disease,Female,1.355427,58,0,7,-1.706220,0.465377,1.488183,0.777666
1,1,disease,male,0.805698,40,1,0,-1.671751,-0.194967,-0.370755,-1.253551
2,2,no disease,Female,0.029375,49,1,1,-1.637282,-1.127500,0.558714,-0.963377
3,3,disease,male,0.681085,45,1,10,-1.602813,-0.344654,0.145617,1.648187
4,4,no disease,male,1.909778,25,1,1,-1.568344,1.131275,-1.919870,-0.963377
...,...,...,...,...,...,...,...,...,...,...,...
95,95,disease,male,1.350235,52,1,1,1.568344,0.459140,0.868537,-0.963377
96,96,disease,Female,0.074994,50,0,4,1.602813,-1.072703,0.661988,-0.092856
97,97,no disease,Female,0.935725,56,0,3,1.637282,-0.038776,1.281634,-0.383029
98,98,no disease,male,0.225422,26,0,0,1.671751,-0.892006,-1.816595,-1.253551
99,99,disease,Female,0.583728,43,0,3,1.706220,-0.461601,-0.060932,-0.383029